.mainContainer {
    height: 100%;
    max-width: 700px;
    margin: auto;
    padding: 50px;
}

.header {
    font-family: 'AmerikaSans', sans-serif;
}

.button {
    margin-left: auto;
}

.paragraph {
    display: flex;
}
